<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="post" class="nav-link active" href="#">Post</a>
  </li>
  <li class="nav-item">
    <%= link_to "Image", images_new_path, class: "nav-link", id: "image",
                                          remote: true %>
  </li>
</ul>
