@import "bootstrap";
@import 'font-awesome';

body {
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}
.navbar {
  padding: 0px 16px 1px;
  background-color: #2B51C3;
}
.badge {
  float: right;
  margin-right: 5px;
  background-color: #777;
}
section {
  padding-bottom: 30px;
}

a.btn.btn-social.btn-twitter.btn-small {
  text-color: #007bff;
}

a.btn.btn-small.btn-social {
  color:#FFF;
}
a.btn.btn-small.btn-social.post {
  color: #2B51C3;
  float: left;
}
a.btn.btn-small.btn-social.like {
  color: #2B51C3;
  float: right;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.time {
  font-size: 0.6em;
  font-color: #777;
}
a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {
  color:#000;
  text-decoration: none;
}  /* mouse over link */
a:active  {color:#000;}
p {
  font-size: 14px;
  line-height: 1.7em;
}

.list-group-item p {
  font-size: 0.8em;
}

header a {
  font-weight: bold; 
  color: #fff;
}
.activity {
  font-size: 0.7em;
  color: #777;
}
.h5 {
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  //padding-top: 9px;
  font-weight: bold;
}
header ul {
  margin:0;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

fieldset.title {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
}

fieldset.title legend 
{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
    padding: 5px 10px;
}
.img {
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 0px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.post-input {
  no-resize: true;
}
.posts-img {
  width: 64px;
  height: 64px;
  display: inline-block;
}
.block {
  overflow: hidden;
  background: #fff;
  padding: 1rem;
  margin: 0 0 1rem 0;
}
.block img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 1rem 0 0;
}
.block h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
div.btn-group form {
  float: left;
  display: inline;
}
.button_to,
.button_to div {
  display: inline;
}
a.nav-link {
  color:#FFF;
  text-align:bottom;
}

.post-card {
  margin-bottom: 20px;
}
