<% provide(:title, "#{@user.name}'s profile") %>

<h1> <%= @user.name %></h1>
<div class="row">
  <aside class="col-md-4">
    <section>
      <%= image_tag(@user.image, alt: "Profile Picture", 
                    class: "profile-picture") %>
    </section>
  </aside>
  <aside class="col-md-8">
  </aside>
</div>
