<% provide(:title, "Explore") %>
<div class="container">
<div class="card-columns">
  <%= render partial: 'explore/post', collection: @posts %>
  <%= render partial: 'explore/image', collection: @images %>
</div>
</div>
