<% provide(:title, "Explore") %>

<div id="masonry-container" class="transitions-enabled centered infinite-scroll clearfix masonry">

  <%= render partial: 'explore/post', collection: @posts %>

</div>
